@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

#mobile {
  /* color: #fff; */
  display: none;
}

.link_title {
  text-decoration: none !important;
  color: #ffb8a3;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 769px) {
  #menuBar {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    right: -250px;
    width: 200px;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0);
    padding: 20px 0px 20px 10px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
  }

  /* #menuBar > div {
    margin: 10px;
  } */
  /* #button-29 {
    padding: 10px;
  } */

  #menuBar.active {
    right: 0px;
  }

  #mobile {
    /* color: #fff; */
    display: block;
    float: right;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

.logo {
  height: 100%;
  width: 100%;
}

/* CSS */
/* .button-29 a {
  text-decoration: none;
  color: white;
} */

#menuBar {
  display: flex;
}

.btn {
  position: relative !important;
  display: block !important;
  color: white !important;
  font-size: 14px !important;
  text-decoration: none !important;
  margin-left: 10px !important;
  border: 2px solid white !important;
  text-transform: uppercase !important;
  overflow: hidden !important;
  transition: 0.5s all ease !important;

}

.btn::before {
  background: white !important;
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: -1 !important;
  transition: all 0.6s ease !important;
}

.btn::before {
  width: 0% !important;
  height: 100% !important;
}

.btn:hover::before {
  width: 100% !important;
}

.btn:hover {
  color: #2E2EAE !important;
  border: 2px solid black !important;
  font-weight: bold;
}