#mobile {
  /* color: #fff; */
  display: none;
}

.link_title {
  text-decoration: none !important;
  color: #ffb8a3;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 769px) {
  #menuBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -250px;
    width: 200px;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #menuBar.active {
    right: 0px;
  }

  #mobile {
    /* color: #fff; */
    display: block;
    float: right;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

.logo {
  height: 100%;
  width: 100%;
}

/* CSS */
.button-29 a {
  text-decoration: none;
  color: white;
}

.button-29 {
  margin-left: 5px !important;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: white !important;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}