#mobile {
  /* color: #fff; */
  display: none;
}

.link_title {
  text-decoration: none !important;
  color: #ffb8a3;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 769px) {
  .button_group {
    display: none;
  }

  #menuBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -1000px;
    width: 200px;
    background-color: #3f51b5;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #menuBar.active {
    right: 0px;
  }

  #mobile {
    /* color: #fff; */
    display: block;
    float: right;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

.logo {
  height: 100%;
  width: 100%;
}

#menuBar {
  display: flex;
}


.btn {
  position: relative !important;
  display: block !important;
  color: white !important;
  font-size: 14px !important;
  /* font-family: "montserrat" !important; */
  text-decoration: none !important;
  /* margin: 30px 0 !important; */
  margin-left: 10px !important;
  border: 2px solid white !important;
  /* padding: 14px 60px !important; */
  text-transform: uppercase !important;
  overflow: hidden !important;
  transition: 1s all ease !important;
}

.btn::before {
  background: white !important;
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: -1 !important;
  transition: all 0.6s ease !important;
}

.btn::before {
  width: 0% !important;
  height: 100% !important;
}

.btn:hover::before {
  width: 100% !important;
}

.btn:hover {
  color: black !important;
  border: 2px solid black !important;
}